@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans&display=swap');

/* -----------------------------------
Fonts
--------------------------------------

font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif;
*/


/* ----------------------------
General Styling 
----------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-weight: 400;
}

/* ---------------------------
Header Styling 
----------------------------*/

header section {
    text-align: center;
}

header h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    margin: 2vh auto 8vh auto;
}

header h2 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 10rem;
    text-align: center;
}

header p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16rem;
    margin: 10vh auto;
}

header div {
    margin: 5vh auto;
}

/*-----------------------------
Main Styling 
----------------------------*/

/* backgrounds per section
----------------------------*/

.secCustomerOne {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    background-image: url(../img/portfolio2.jpg);
}

.secCustomerTwo {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(../img/portfolio3.png);
}

.secCustomerThree {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    background-image: url(../img/portfolio4.jpg);
}

.secCustomerFour {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(../img/portfolio5.png);
}

/* classes for main-part for dark and bright background
----------------------------*/

.portfolioYear {
    font-size: 2rem;
    padding: 10vh 0 0 10vw;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #9e9e9e;
}

.portfolioYearBright {
    font-size: 2rem;
    padding: 10vh 0 0 10vw;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #9e9e9e;
}

.portfolioProjectName {
    font-size: 11.2rem;
    padding: 43px 0px 0px 10vw;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
}

.portfolioProjectNameBright {
    font-size: 11.2rem;
    padding: 43px 0px 0px 10vw;
    font-family: 'Didact Gothic', sans-serif;
    color: #000;
}

.portfolioProjectType {
    font-size: 2rem;
    padding: 40px 0px 0px 10vw;
    font-family: 'Work Sans', sans-serif;
    color: #9e9e9e;
}

.portfolioProjectTypeBright {
    font-size: 2rem;
    padding: 40px 0px 0px 10vw;
    font-family: 'Work Sans', sans-serif;
    color: #9e9e9e;
}

/* classes for DiveIn-Button
----------------------------*/

.diveIn {
    font-size: 1.6rem;
    display: block;
    padding: 10px;
    margin-top: 50px;
    margin-left: 10vw;
    width: fit-content;
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    border: #9e9e9e solid 1px;
    text-decoration: none;
}

.diveInBright {
    font-size: 1.6rem;
    display: block;
    padding: 10px;
    margin-top: 50px;
    margin-left: 10vw;
    width: fit-content;
    font-family: 'Fjalla One', sans-serif;
    color: #000;
    border: #000 solid 1px;
    text-decoration: none;
}

.portfolioNumberHighlight {
    font-size: 16.5rem;
    margin: 0 5vw 5vh 0;
    /* padding: auto 10vw 10vh auto; */
    font-family: 'Fjalla One', sans-serif;
    color: #9e9e9e;
    opacity: 0.2;
    text-align: right;
}

.portfolioNumberHighlightBright {
    font-size: 16.5rem;
    margin: 0 5vw 5vh 0;
    /* padding: auto 10vw 10vh auto; */
    font-family: 'Fjalla One', sans-serif;
    color: #9e9e9e;
    opacity: 0.2;
    text-align: right;
}


.diveIn:hover {
    font-size: 1.6rem;
    padding: 10px;
    background-color: #fff;
    font-family: 'Fjalla One', sans-serif;
    color: #000;
    border: #fff solid 1px;
    text-decoration: none;
}

.diveInBright:hover {
    font-size: 1.6rem;
    padding: 10px;
    background-color: #000;
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    border: #000 solid 1px;
    text-decoration: none;
}

/* Hover for portfolioNumberHighlight
----------------------------*/

.diveIn:hover+p {
    opacity: 1.0;
}

.diveInBright:hover+p {
    opacity: 1.0;
}


/* Styling for articles
--------------------------- */

.standardArticle {
    background: #000;
    color: #fff;
    height: min-content;
    padding-top: 8vh;
    padding-bottom: 10vh;
}

.articleHeadline {
    font-family: 'Work Sans', sans-serif;
    font-size: 10vw;
    text-align: center;
    margin-top: 5vh;
}

.articleText {
    font-family: 'Work Sans', sans-serif;
    color: #9e9e9e;
    font-size: 2.2rem;
    text-align: left;
    width: 50vw;
    margin: 15vh 5vw 5vh 40vw;
}

article div a {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-size: 6vw;
    text-decoration: none;
    text-align: left;
    width: 50vw;
    margin: 15vh 5vw 5vh 40vw;
    padding-bottom: 5vh;
}

article div a:hover {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-size: 6vw;
    text-decoration: underline;
    text-align: left;
    width: 50vw;
    margin: 15vh 5vw 5vh 40vw;
    padding-bottom: 5vh;
}

/*-----------------------------
Footer Styling 
----------------------------*/

footer ul {
    list-style: none;
    font-family: 'Didact Gothic', sans-serif;
    color: #000;
    text-decoration: none;
    font-size: 10vw;
    text-align: center;
}

footer ul li {
    padding: 3vw;
}

footer ul li a {
    list-style: none;
    font-family: 'Didact Gothic', sans-serif;
    color: #000;
    text-decoration: none;
    font-size: 10vw;
    text-align: center;
}

footer ul li a:hover {
    text-decoration: underline;
}


/* animiertes Herz
------------------ */

.heart {
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    animation: beat 1.5s ease 0s infinite;
}

.heart span {
    font-size: 3rem;
    color: #000;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.0);
    }
}